{% extends 'base.html' %}
{% block title %}Contact{% endblock title %}
{% block body %}
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Contact Form</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-12">
					<div class="wrapper">
						<div class="row no-gutters mb-5">
							<div class="col-md-7">
								<div class="contact-wrap w-100 p-md-5 p-4">
									<h3 class="mb-4">Contact Us</h3>
									<div id="form-message-warning" class="mb-4"></div>
									<form method="POST" id="contactForm" name="contactForm" class="contactForm" action="/contact">
									    {% csrf_token %}
										 <div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label class="label" for="name">Full Name</label>
													<input type="text" class="form-control" name="name" id="name" placeholder="Name">
												</div>
											</div>
											<div class="col-md-6"> 
												<div class="form-group">
													<label class="label" for="email">Age</label>
													<input type="text" class="form-control" name="age" id="age" placeholder="age">
												</div>
											</div>
											{% if messages %}
											{% for message in messages %}
											<div class="alert alert-{{ message.tags }} my-3" role="alert" >
												<h4 class="alert-heading">{{ message }}</h4>
												<p>Thank You! for the submission.</p>
												<hr>
												<p class="mb-0">Your details have been successfully submitted to Pranjal Tripathi</p>
											</div>
											{% endfor %}
											{% endif %}
											<div class="col-md-12 my-2">
												<div class="form-group">
													<input type="submit" value="Submit" class="btn btn-primary">
													<div class="submitting"></div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
							<div class="col-md-5 d-flex align-items-stretch">
								<div id="map">
			          </div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								<div class="dbox w-100 text-center">
			        		<div class="icon d-flex align-items-center justify-content-center">
			        			<span class="fa fa-map-marker"></span>
			        		</div>
			        		<div class="text">
				            <p><span>Address:</span><a href="https://www.google.com/maps/place/Central+University+of+Punjab/@30.1359113,74.7873253,17z/data=!3m1!4b1!4m5!3m4!1s0x391125b3d4ba6e4d:0xb583095ad5b92749!8m2!3d30.1359113!4d74.789514">Central University Of Punjab, Bathinda</a></p>
				          </div>
			          </div>
							</div>
							<div class="col-md-3">
								<div class="dbox w-100 text-center">
			        		<div class="icon d-flex align-items-center justify-content-center">
			        			<span class="fa fa-phone"></span>
			        		</div>
			        		<div class="text">
				            <p><span>Phone:</span> <a href="tel://1234567920">+91 7007630100</a></p>
				          </div>
			          </div>
							</div>
							<div class="col-md-3">
								<div class="dbox w-100 text-center">
			        		<div class="icon d-flex align-items-center justify-content-center">
			        			<span class="fa fa-paper-plane"></span>
			        		</div>
			        		<div class="text">
				            <p><span>Email:</span> <a href="mailto:pranjaltripathi7867@gmail.com">pranjaltripathi7867@gmail.com</a></p>
				          </div>
			          </div>
							</div>
							<div class="col-md-3">
								<div class="dbox w-100 text-center">
			        		<div class="icon d-flex align-items-center justify-content-center">
			        			<span class="fa fa-globe"></span>
			        		</div>
			        		<div class="text">
				            <p><span>Website</span> <a href="https://github.com/Pranjal-Tripathi-01">GitHub</a></p>
				          </div>
			          </div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
	    </div>
			

	  
	    </section>
		<script src="/templates/contact-form-06/js/jquery.min.js"></script>
	    <script src="/templates/contact-form-06/js/popper.js"></script>
	    <script src="/templates/contact-form-06/js/bootstrap.min.js"></script>
	    <script src="/templates/contact-form-06/js/jquery.validate.min.js"></script>
	    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
	    <script src="/templates/contact-form-06/js/google-map.js"></script>
	    <script src="/templates/contact-form-06/js/main.js"></script>

  
{% endblock body %}
